.example-card {
    max-width: 400px;
}

.example-header-image {
    background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");//ảnh background;
    background-size: cover;//kích thước background
}

.visuallyhidden {
    border: 0;//bo góc cho khung
    clip: rect(0 0 0 0);
    height: 1px;//chiều cao
    margin: -1px;
    overflow: hidden;//độ mờ
    padding: 0;
    position: absolute;//vị trí khung 
    width: 1px;//độ rộng
}
mat-card-actions {
    text-align: center;//đẩy chữ ra giữa thẻ
    button {
        margin: 5%;
        padding: 0;
        border: none;//bo góc
        background: none;//khung nền
    }
}
